<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services2.arcgis.com/___ID_DEL_SERVICIO___/arcgis/rest/services/"
          oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
          clientId="__OBTENER_DESDE->CUENTA_DESARROLLADORES->APLICACIONES__"
          clientSecret="__OBTENER_DESDE->CUENTA_DESARROLLADORES->APLICACIONES__"
          matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
